evaluate==0.4.0
gensim=4.3.1
matplotlib==3.7.1
nltk==3.8.1
numpy==1.22.4
pandas==1.5.3
scipy==1.10.1
seaborn==0.12.2
session_info1.0.0
sklearn==1.2.2
spacy==3.5.2
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchtext==0.15.1+cpu
torchvision==0.15.1+cu118
tqdm==4.65.0
transformers==4.29.1
IPython==7.34.0
jupyter_client==6.1.12
jupyter_core==5.3.0
notebook==6.4.8